Repository voxpupuli/voxpupuli-rubocop, pull requests merged in 2023-07, with the labels that each got.

#28 Release 1.4.0
  CHANGELOG.md
  voxpupuli-rubocop.gemspec
Labels: skip-changelog

#29 Make rubocop yamllint clean
  rubocop.yml
Labels: bug

#30 Enforce require_parentheses_when_complex style for ternaries
  rubocop.yml
Labels: backwards-incompatible

#31 Release 2.0.0
  CHANGELOG.md
  voxpupuli-rubocop.gemspec
Labels: skip-changelog
